.ll { 
    display: grid;  
    grid-template-columns: 1fr auto;  
    align-items: center;  
    background-color: rgb(64, 65, 65); 
    padding: 10px;  
    border-radius: 10px;  
    margin: 10px auto; 
    max-width: 1200px; 
} 

.text-container { 
    margin-left: 40px; 
} 

.button-group { 
    display: flex;  
    gap: 15px;  
    margin-right: 100px; 
} 

.delButton, .changeButton { 
    width: 150px;  
} 

.H { 
    width: 80%;  
    margin: 20px auto;  
} 

h1 { 
    text-align: center;  
} 

.UserWish {  
    background-color: rgb(64, 65, 65);  
    padding: 20px;  
    padding-left: 20px; 
    border-radius: 15px;  
    margin-right: 10%; 
    margin-left: 10%;  
}  

.UserWish button {  
    margin-top: 20px;  
}


@media (max-width: 768px) {
    .text-container {
        margin-left: 10px; 
    }

    .button-group {
        margin-right: 10px; 
        flex-direction: column; 
        align-items: flex-start; 
    }

    .delButton, .changeButton { 
        width: 100%; 
    }

    .UserWish {
        margin-right: 5%; 
        margin-left: 5%; 
        padding-left: 10px; 
    }
}

@media (max-width: 480px) {
    .ll {
        grid-template-columns: 1fr;
        padding: 5px; 
    }

    .text-container {
        margin-left: 0; 
        text-align: center; 
    }

    .button-group {
        margin-right: 0;
        flex-direction: column; 
        align-items: center;
    }

    .delButton, .changeButton { 
        width: 100%; 
        margin-bottom: 10px; 
    }

    .UserWish {
        margin-right: 0;
        margin-left: 0; 
        padding-left: 10px; 
    }
}
